
name: Module 7 Workflow
   
on: [push]

jobs:
  web:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:latest
        env:
          POSTGRES_USER: myuser
          POSTGRES_PASSWORD: mypassword
          POSTGRES_DB: myappdb
          DATABASE_URL: postgresql://myuser:mypassword@localhost:5432/myappdb 
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U myuser"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

     
          

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run application
        run: |
          pytest tests/

  docker-build:
    runs-on: ubuntu-latest
    needs: web

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker image
        run: |
          docker build -t myapp:latest .   
  deploy:
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy Application
        run: |
          echo "Deploying application..."
          # Add your deployment commands here
          build build --image myapp:latest --registry myregistry.azurecr.io --push
          az webservice  --name myapp --resource-group myResourceGroup --image myregistry  
          --restart true         